.container-chart {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 60px 20px;
  margin: 0 auto;
}

.text-description-chart {
  margin: 17px 0 42px 0;
  color: #8b8b8b;
  font: 18px/1 "SpoqaHanSansNeo-Regular", sans-serif;
  text-align: center;
}
