.container-chart {
  box-sizing: content-box;
  padding: 60px 20px;
  margin: 0 auto;
}

.text-description-chart {
  margin: 17px 0 42px 0;
  color: #8b8b8b;
  font: 18px/1 "SpoqaHanSansNeo-Regular", sans-serif;
  text-align: center;
}

.card-m {
  cursor: pointer;
}
.card-m #rank {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #888;
  text-align: center;
}
.card-m #rank .num {
  position: absolute;
  top: -5px;
  left: -5px;
  font: 20px/40px "arial";
  color: #fff;
  background: #222;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
}
.card-m .show-contents {
  text-align: left;
}
.card-m .show-contents .wrapper-movie-title {
  color: #fff;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.loading {
  background-image: none;
  background-color: #e0e0e0;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}