@import '../constants/colors';
@import '../constants/typography.scss';

.container-chart {
    box-sizing: content-box;
    padding: 70px 20px;
    margin: 0 auto;
}

.text-description-chart {
    margin:17px 0 42px 0;
    color: #8b8b8b;
    font-family: $font-regular;
    font-size: 18px;
    text-align: center;
} 