@import '../constants/colors';
@import '../constants/typography.scss';

.container-chart {
    box-sizing: content-box;
    padding: 60px 20px;
    margin: 0 auto;
}

.text-description-chart {
    margin: 17px 0 42px 0;
    color: $sub-text;
    font: 18px/1 $font-regular;
    text-align: center;
}

.card-m:focus {
    outline: 10px solid #FFC3C3;
}

.card-m .show-contents {
    text-align: left;
    & .wrapper-movie-title {
        color: #fff;
    }
}