.container-chart {
  box-sizing: content-box;
  padding: 50px 5%;
  margin: 0 auto;
}

.text-description-chart {
  margin: 17px 0 42px 0;
  color: #8b8b8b;
  font: 18px/1 "SpoqaHanSansNeo-Regular", sans-serif;
  text-align: center;
}

.card-m {
  cursor: pointer;
}
.card-m .sub-text {
  line-height: 1.3;
}
.card-m #rank {
  position: absolute;
  top: 5px;
  left: 1px;
}
.card-m #rank .num {
  display: block;
  position: absolute;
  top: -33px;
  left: -26px;
  padding: 10px;
  font: italic 40px/1 "SpoqaHanSansNeo-Medium", sans-serif;
  color: #ffffff;
  text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.4);
}
.card-m .show-contents {
  text-align: left;
}
.card-m .show-contents .wrapper-movie-title {
  color: #ffffff;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.loading {
  background-image: none;
  background-color: #e0e0e0;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}