@import '../constants/colors';
@import '../constants/typography';

.container-home {
    box-sizing: content-box;
    padding: 50px 5% 45px;
    margin: 0 auto;
    max-width: 740px;
    .card-L {
        &:last-child {
            cursor: pointer;
        }
    }
}

.btn-L {
    &.home {
        display: block;
        margin: 0 auto 80px;
        padding: 14px;
    }
}

@media screen and (max-width: 768px) {
    .btn-L {
        &.home {
            display: block;
            margin: 0 auto 80px;
            padding: 14px;
            width: 170px;
        }
    }
}
