@import '../constants/colors';
@import '../constants/typography';

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 322px;
    padding: 0 20px;
    margin-top: 65px;
    box-sizing: content-box;

    .img-logo {
        height: 150px;
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 6px;
        font-family: $font-regular;
        font-size: 13px;
        color: $content-text;
    }
    ::placeholder {
        font-family: $font-regular;
        font-size: 12px;
        color: $placeholder-text;
    }
    input {
        padding: 8px 0;
        border-bottom: 1px solid $disabled-line;
        color: $white;
        font-family: $font-regular;
        font-size: 13px;
        line-height: 1;
        &:focus {
            border-color: $white;
        }
    }

    .msg-error {
        display: none;
        margin-top: 7px;
        font : {
            family: $font-regular;
            weight: 400;
            size: 11px;
        }
        &.false {
            display: block;
            color: $primary-color;
        }
    }

    .wrapper-email,
    .wrapper-password {
        display: flex;
        flex-direction: column;
    }
    .wrapper-password {
        margin: 16px 0 35px 0;
    }

    .sign-up-link {
        display: block;
        text-align: center;
        margin-top: 25px;
        color: $header-text;
        font-size: 12px;
    }
}
