@import '../constants/colors';
@import '../constants/typography';
@import '../components/common';

.container-mypage {
    max-width: 720px;
    padding: 50px 5% 40px;
    margin: 0 auto;
    box-sizing: content-box;
    .page-title {
        margin-bottom: 34px;
    }
    .review-album {
        height: fit-content;
        max-height: 800px;
        padding-top: 50px;
        margin: 0 auto;
        border-top: 1px solid $disabled-line;
        @include scroll(8px);
    }
    .user-info {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        #img-profile {
            width: 110px;
            height: 110px;
            border-radius: 9999px;
            object-fit: cover;
        }
        #text-name {
            margin: 19px 0 10px;
            color: $header-text;
            font: {
                family: $font-medium;
                size: 18px;
            }
        }
        #text-id,
        #text-intro {
            color: $content-text;
            font-family: $font-regular;
        }
        #text-id {
            margin-bottom: 25px;
            font-size: 13px;
            &::before {
                margin-right: 4px;
                content: '@';
            }
        }
        #text-intro {
            margin-bottom: 35px;
            font-size: 14px;
        }
    }
    .wrapper-btn {
        display: inline-flex;
        margin-bottom: 37px;
        .btn-s {
            background-color: $primary-color;
            &:first-of-type {
                margin-right: 16px;
            }
            &:hover,
            &:focus,
            &:active {
                transform: scale(1.03);
            }
        }
    }
}
