.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #292929;
}

.img-logo {
  height: 90px;
}

.img-logo img {
  margin-left: 90px;
}

.img-logo .btn-nav {
  display: none;
  position: absolute;
  top: 33px;
  right: 33px;
  width: 25px;
  height: 25px;
  background: url("../../assets/icons/menu.svg") no-repeat 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  letter-spacing: -0.02em;
}

.nav li {
  padding-left: 24px;
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.nav li:hover {
  color: #ff5f5f;
}

.nav li a.selected {
  color: #ff5f5f;
}

.main {
  margin-top: 90px;
  position: relative;
  min-height: calc(100vh - 150px);
}

.wrapper-etc {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 90px;
  min-height: calc(100vh - 150px);
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
}

.wrapper-etc .img-etc {
  width: 181px;
  margin-bottom: 20px;
}

.wrapper-etc .text-etc {
  margin-bottom: 30px;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 25px;
}

.wrapper-etc.disabled {
  display: none;
}

.footer {
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #292929;
  text-align: center;
}

.footer p {
  display: inline-block;
  margin-top: 25px;
  color: #cfcfcf;
  font-size: 10px;
}

.page-title {
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-logo img {
    margin: 15px 0 0 0;
    content: url("../../assets/icons/logo-title-s.svg");
  }
  .img-logo .btn-nav {
    display: block;
  }
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .nav li:last-child {
    padding-bottom: 20px;
  }
  .nav li a {
    display: block;
  }
  .main.active {
    margin-top: 296px;
  }
}

.container-mypage {
  max-width: 720px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 60px 20px 40px;
  margin: 0 auto;
}

.container-mypage .page-title {
  margin-bottom: 34px;
}

.container-mypage .review-album {
  margin: 0 auto;
  padding-top: 50px;
  border-top: 1px solid #767676;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 800px;
}

.container-mypage .review-album::-webkit-scrollbar {
  width: 8px;
  border-radius: 60px;
  scroll-padding: 10%;
}

.container-mypage .review-album::-webkit-scrollbar-thumb {
  border-radius: 30px;
  height: 10%;
  background-color: #242424;
}

.container-mypage .user-info {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container-mypage .user-info #img-profile {
  border-radius: 9999px;
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-mypage .user-info #text-name {
  font-family: "SpoqaHanSansNeo-Medium", sans-serif;
  font-size: 18px;
  color: #cfcfcf;
  margin: 19px 0 10px;
}

.container-mypage .user-info #text-id,
.container-mypage .user-info #text-intro {
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  color: #dedede;
}

.container-mypage .user-info #text-id {
  font-size: 13px;
  margin-bottom: 25px;
}

.container-mypage .user-info #text-id::before {
  content: '@';
  margin-right: 4px;
}

.container-mypage .user-info #text-intro {
  font-size: 14px;
  margin-bottom: 35px;
}

.container-mypage .wrapper-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 37px;
}

.container-mypage .wrapper-btn .btn-s {
  background-color: #ff5f5f;
}

.container-mypage .wrapper-btn .btn-s:first-of-type {
  margin-right: 16px;
}

.container-mypage .wrapper-btn .btn-s:hover, .container-mypage .wrapper-btn .btn-s:focus, .container-mypage .wrapper-btn .btn-s:active {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
