@import '../constants/colors';
@import '../components/common';

.main {
    overflow: hidden;
    padding: 0 5%;
    display: none;
}

.wrapper-review {
    &.disabled {
        display: none;
    }
}

.wrapper-list-review {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 450px;
    overflow-x: hidden;
}

.list-review {
    margin: 0 -14px;
    display: flex;
    flex-wrap: wrap;
}

.item-review {
    width: 100%;
    padding: 0 14px;
    margin-bottom: 46px;
    position: relative;
}

.movie-title {
    @include text-overflow-two(90%);
    color: $title-text;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.btn-modal {
    display: inline-block;
    top: 3px;
    right: 22.5px;
    position: absolute;
    cursor: pointer;
    &::marker {
        font-size: 0;
    }
    .ico-modal {
        width: 25px;
        height: 25px;
    }
}

.wrapper-rating {
    background-image: url('../../assets/icons/stars-gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100px;
    height: 20px;
    margin: 12px 0 22px 5px;
    --width-rating: 100%;
    &::before {
        content: '';
        display: block;
        background-image: url('../../assets/icons/star-yellow-100.svg');
        width: var(--width-rating);
        height: 20px;
    }
}

.img-poster {
    border-radius: 4px;
    width: 98%;
    max-height: 360px;
    object-fit: contain;
}

.text-story {
    color: $content-text;
    font-size: 13px;
    line-height: 1.4;
    margin: 16px 0;
    max: {
        width: 98%;
        height: 200px;
    }
    overflow-wrap: break-word;
    overflow-y: auto;
    border-radius: 4px;
    @include scroll(8px);
}

.text-date {
    color: $disabled-line;
    font-size: 12px;
}

// 게시글이 없을 경우

.wrapper-noreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    &.disabled {
        display: none;
    }
}

.text-description {
    font-size: 30px;
    line-height: 38px;
    color: #f1f1f1;
    display: block;
}

.btn-ms {
    height: 44px;
    margin-top: 33px;
}

@media screen and (max-width: 550px) {
    .wrapper-list-review {
        max-width: 360px;
    }

    .item-review {
        width: 100%;
    }
    .movie-title {
        font-size: 20px;
    }
    .img-poster {
        max-height: 305px;
    }
    .img-rating {
        width: 80px;
    }
    .text-story {
        font-size: 13px;
    }
    .text-date {
        font-size: 11px;
    }
    .details-movie {
        .btn-modal {
            .ico-modal {
                width: 22px;
                height: 22px;
            }
        }
    }
}
