@import "../constants/colors";

.main {
    overflow: hidden;
}

.wrapper-review {
    // display: none;
}

.page-title {
    font-size: 30px;
    color: $title-text;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.list-review {
    max-width: 927px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item-review {
    max-width: 450px;
    margin-bottom: 47px;
    &:nth-child(odd) {
        margin-right: 27px;
    }
}

// 게시글이 1개일 경우
.item-review.one {
    margin: 0 auto;
}

.movie-title {
    color: $title-text;
    font-size: 25px;
}

.btn-modal {
    float: right;
}

.img-rating {
    display: block;
    width: 80px;
    margin-top: 18px;
    margin-bottom: 22px;
}

.img-poster {
    border-radius: 4px;
    max-width: 450px;
    height: 350px;
}

.text-story {
    color: $content-text;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 21px;
}

.text-date {
    color: $title-text;
    font-size: 12px;
}

// 게시글이 없을 경우

.wrapper-noreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    display: none;
}

.text-description {
    font-size: 30px;
    line-height: 38px;
    color: #F1F1F1;
    display: block;
}

.btn-ms {
    height: 44px;
    margin-top: 33px;
}

@media screen and (max-width: 927px) {
    .item-review {
        margin: 0 auto 47px auto;
        &:nth-child(odd) {
            margin: 0 auto 47px auto;
        }
    }
}