@import '../constants/colors';
@import '../components/common';

.main {
    overflow: hidden;
    padding: 0 5%;
}

.wrapper-review {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
}

.movie-title {
    @include text-overflow-three(90%);
    color: $title-text;
    font-size: 30px;
    word-break: break-all;
}

.btn-modal {
    position: absolute;
    top: 3px;
    right: 0;
    .ico-modal {
        width: 25px;
        height: 25px;
    }
}

.wrapper-rating {
    position: relative;
    width: 100px;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 22px;
    background-image: url('../../assets/icons/stars-gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --width-rating: 100%;
    &::before {
        display: block;
        content: '';
        width: var(--width-rating);
        height: 20px;
        background-image: url('../../assets/icons/star-yellow-100.svg');
    }
}

.img-poster {
    width: 98%;
    max-height: 425px;
    border-radius: 4px;
    object-fit: contain;
}

.text-story {
    overflow-y: auto;
    max: {
        width: 98%;
        height: 300px;
    }
    margin: 10px 0;
    color: $content-text;
    font-size: 14px;
    line-height: 1.3;
    word-wrap: break-word;
    border-radius: 4px;
    @include scroll(8px);
}

.text-date {
    color: $disabled-line;
    font-size: 13px;
}

@media screen and (max-width: 550px) {
    .movie-title {
        font-size: 20px;
    }
    .img-rating {
        width: 80px;
    }
    .text-story {
        font-size: 13px;
    }
    .text-date {
        font-size: 11px;
    }
    .btn-modal {
        .ico-modal {
            width: 22px;
            height: 22px;
        }
    }
}
