@import '../constants/colors';
@import '../components/common';

.main {
    overflow: hidden;
    padding: 0 5%;
}

.wrapper-review {
    // display: none;
}

.page-title {
    font-size: 30px;
    color: $title-text;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.wrapper-list-review {
    margin: 0 auto;
    max-width: 727px;
    overflow-x: hidden;
}

.list-review {
    margin: 0 -13.5px;
    display: flex;
    flex-wrap: wrap;
}

.item-review {
    width: 50%;
    padding: 0 13.5px;
    margin-bottom: 47px;
    position: relative;
}

// 게시글이 1개일 경우
.item-review.one {
    margin: 0 auto;
}

.movie-title {
    @include text-overflow-two(90%);
    color: $title-text;
    font-size: 25px;
}

.details-movie {
    display: inline-block;
    top: 0;
    right: 12.5px;
    position: absolute;
    // float: right;
    .btn-modal {
        cursor: pointer;
        &::marker {
            font-size: 0;
        }
    }
}

.img-rating {
    display: block;
    width: 80px;
    margin-top: 18px;
    margin-bottom: 22px;
}

.wrapper-poster {
    background-color: #191919;
    border-radius: 4px;
}

.img-poster {
    border-radius: 4px;
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.text-story {
    color: $content-text;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 21px;
}

.text-date {
    color: $title-text;
    font-size: 12px;
}

// 게시글이 없을 경우

.wrapper-noreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    display: none;
}

.text-description {
    font-size: 30px;
    line-height: 38px;
    color: #f1f1f1;
    display: block;
}

.btn-ms {
    height: 44px;
    margin-top: 33px;
}

@media screen and (max-width: 768px) {
    .wrapper-list-review {
        max-width: 450px;
    }

    .item-review {
        width: 100%;
    }
}
