.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #292929;
}

.img-logo {
  height: 70px;
}
.img-logo img {
  height: 65px;
  margin: 3px 0 0 90px;
}
.img-logo .btn-nav {
  display: none;
  position: absolute;
  top: 33px;
  right: 33px;
  width: 25px;
  height: 25px;
  background: url("../../assets/icons/menu.svg") no-repeat 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  letter-spacing: -0.02em;
}
.nav li {
  padding-left: 24px;
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.nav li:hover,
.nav li a.selected {
  color: #ff5f5f;
}

.main {
  position: relative;
  min-height: calc(100vh - 131px);
  margin: 70px 0 30px;
}

.wrapper-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 150px);
  margin-top: 20px;
  background-color: #1e1e1e;
  color: #f1f1f1;
}
.wrapper-etc .img-etc {
  width: 181px;
  margin-bottom: 20px;
}
.wrapper-etc .text-etc {
  margin-bottom: 30px;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 25px;
}
.wrapper-etc.disabled {
  display: none;
}

.footer {
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #292929;
  color: #dedede;
  text-align: center;
}
.footer .desc {
  display: inline-block;
  margin: 8px 0 5px;
  font-size: 10px;
}
.footer .wrapper-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  margin: 0 5% 5px;
  font-size: 10px;
  text-align: center;
}
.footer .wrapper-github .text-s {
  font-size: 8px;
}

.page-title {
  color: #f1f1f1;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-logo img {
    content: url("../../assets/icons/logo-title-s.svg");
    margin: 13px 0 0 0;
    height: 52px;
  }
  .img-logo .btn-nav {
    display: block;
    top: 25px;
  }
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .nav li:last-child {
    padding-bottom: 20px;
  }
  .nav li a {
    display: block;
  }
  .main.active {
    margin-top: 296px;
  }
}
.main {
  overflow: hidden;
  padding: 0 5%;
}

.wrapper-review.disabled {
  display: none;
}

.wrapper-list-review {
  overflow-x: hidden;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.list-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}

.item-review {
  position: relative;
  width: 100%;
  padding: 0 14px;
  margin-bottom: 46px;
}

.movie-title {
  display: -webkit-box;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  margin-left: 5px;
  color: #f1f1f1;
  font-size: 25px;
  cursor: pointer;
}

.btn-modal {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 22.5px;
  cursor: pointer;
}
.btn-modal::marker {
  font-size: 0;
}
.btn-modal .ico-modal {
  width: 25px;
  height: 25px;
}

.wrapper-rating {
  position: relative;
  width: 100px;
  height: 20px;
  margin: 12px 0 22px 5px;
  background-image: url("../../assets/icons/stars-gray.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --width-rating: 100%;
}
.wrapper-rating::before {
  display: block;
  content: "";
  width: var(--width-rating);
  height: 20px;
  background-image: url("../../assets/icons/star-yellow-100.svg");
}

.img-poster {
  width: 98%;
  max-height: 360px;
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-story {
  margin: 16px 0;
  color: #dedede;
  font-size: 13px;
  line-height: 1.4;
  max-width: 98%;
  max-height: 200px;
  overflow-wrap: break-word;
  overflow-y: auto;
  border-radius: 4px;
}
.text-story::-webkit-scrollbar {
  width: 8px;
  border-radius: 60px;
  scroll-padding: 10%;
}
.text-story::-webkit-scrollbar-thumb {
  height: 10%;
  border-radius: 30px;
  background-color: #242424;
}

.text-date {
  color: #767676;
  font-size: 12px;
}

.wrapper-noreview {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}
.wrapper-noreview.disabled {
  display: none;
}

.text-description {
  display: block;
  font-size: 30px;
  line-height: 38px;
  color: #f1f1f1;
}

.btn-ms {
  height: 44px;
  margin-top: 33px;
}

@media screen and (max-width: 550px) {
  .wrapper-list-review {
    max-width: 360px;
  }
  .item-review {
    width: 100%;
  }
  .movie-title {
    font-size: 20px;
  }
  .img-poster {
    max-height: 305px;
  }
  .img-rating {
    width: 80px;
  }
  .text-story {
    font-size: 13px;
  }
  .text-date {
    font-size: 11px;
  }
  .details-movie .btn-modal .ico-modal {
    width: 22px;
    height: 22px;
  }
}