.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #292929;
}

.img-logo {
  height: 70px;
}

.img-logo img {
  height: 65px;
  margin: 3px 0 0 90px;
}

.img-logo .btn-nav {
  display: none;
  position: absolute;
  top: 33px;
  right: 33px;
  width: 25px;
  height: 25px;
  background: url("../../assets/icons/menu.svg") no-repeat 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  letter-spacing: -0.02em;
}

.nav li {
  padding-left: 24px;
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.nav li:hover,
.nav li a.selected {
  color: #ff5f5f;
}

.main {
  position: relative;
  min-height: calc(100vh - 131px);
  margin-top: 70px;
}

.wrapper-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 150px);
  margin-top: 20px;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.wrapper-etc .img-etc {
  width: 181px;
  margin-bottom: 20px;
}

.wrapper-etc .text-etc {
  margin-bottom: 30px;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 25px;
}

.wrapper-etc.disabled {
  display: none;
}

.footer {
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #292929;
  color: #dedede;
  text-align: center;
}

.footer .desc {
  display: inline-block;
  margin: 8px 0 5px;
  font-size: 10px;
}

.footer .wrapper-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  margin: 0 5% 5px;
  font-size: 10px;
  text-align: center;
}

.footer .wrapper-github .text-s {
  font-size: 8px;
}

.page-title {
  color: #f1f1f1;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-logo img {
    content: url("../../assets/icons/logo-title-s.svg");
    margin: 13px 0 0 0;
    height: 52px;
  }
  .img-logo .btn-nav {
    display: block;
    top: 25px;
  }
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .nav li:last-child {
    padding-bottom: 20px;
  }
  .nav li a {
    display: block;
  }
  .main {
    margin-bottom: 30px;
  }
  .main.active {
    margin-top: 296px;
  }
}

.search-main {
  padding: 50px 5%;
  text-align: center;
}

.text-heading {
  margin-bottom: 17px;
  color: #f1f1f1;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 30px;
  line-height: 38px;
}

.text-description {
  margin-bottom: 42px;
  color: #8b8b8b;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 18px;
}

.input-search-container {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-search-container .input-search {
  width: 100%;
  padding: 21px 51px 17px 33px;
  border: 1px solid #8b8b8b;
  border-radius: 40px;
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-search-container .input-search::-webkit-input-placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}

.input-search-container .input-search:-ms-input-placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}

.input-search-container .input-search::-ms-input-placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}

.input-search-container .input-search::placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}

.input-search-container .input-search:focus {
  border-color: #cfcfcf;
}

.input-search-container .img-search {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 22px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container-searched-list {
  max-width: 740px;
  padding: 20px 5px;
  margin: 0 auto;
  color: #cfcfcf;
  line-height: 1.37;
  text-align: left;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[5];
      grid-template: auto/repeat(5, 1fr);
  gap: 6px;
  margin-top: 10px;
}

.grid-box .searched-movie {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.grid-box .searched-movie:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container-poster {
  overflow: hidden;
  position: relative;
  padding-top: 142%;
  border-radius: 5px;
}

.img-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-box {
  margin-top: 7px;
  padding: 0 2px 10px;
  font-size: 13px;
}

.title-box .movie-title {
  display: -webkit-box;
  overflow: hidden;
  width: 96%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
  .text-heading {
    font-size: 26px;
    line-height: 31px;
  }
  .text-description {
    margin-bottom: 33px;
    font-size: 16px;
  }
  .input-search-container .input-search {
    padding: 17px 51px 14px 33px;
    font-size: 16px;
  }
  .input-search-container .input-search::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .input-search-container .input-search:-ms-input-placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .input-search-container .input-search::-ms-input-placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .input-search-container .input-search::placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .input-search-container .img-search {
    top: 15px;
    right: 22px;
    width: 21px;
    height: 21px;
  }
  .grid-box {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template: auto/repeat(3, 1fr);
  }
  .title-box {
    font-size: 12px;
  }
}
