@import '../constants/colors';
@import '../constants/typography.scss';
@import '../components/common';

.search-main {
    padding: 60px 5%;
    text-align: center;
}

.text-heading {
    margin-bottom: 17px;
    color: $title-text;
    font-family: $font-bold;
    font-size: 30px;
    line-height: 38px;
}

.text-description {
    margin-bottom: 42px;
    color: #8b8b8b;
    font-family: $font-regular;
    font-size: 18px;
}

.input-search-container {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
    box-sizing: border-box;
    .input-search {
        width: 100%;
        padding: 21px 51px 17px 33px;
        color: $header-text;
        font-family: $font-regular;
        font-size: 18px;
        border: 1px solid #8b8b8b;
        border-radius: 40px;
        box-sizing: border-box;
        &::placeholder {
            color: #8b8b8b;
            font-size: 18px;
            line-height: 23px;
        }
        &:focus {
            border-color: $header-text;
        }
    }
    .img-search {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 22px;
        background: {
            image: url('../../assets/icons/icon-search.svg');
            repeat: no-repeat;
            size: contain;
        }
        width: 24px;
        height: 24px;
    }
}

.container-searched-list {
    max-width: 740px;
    padding: 20px 5px;
    margin: 0 auto;
    color: $header-text;
    line-height: 1.37;
    text-align: left;
}

.grid-box {
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    gap: 6px;
    margin-top: 10px;
    .searched-movie {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            transition-duration: 0.4s;
            transition-timing-function: ease-in-out;
            transform: translateY(-10px);
        }
    }
}

.container-poster {
    position: relative;
    padding-top: 142%;
    overflow: hidden;
    border-radius: 5px;
}

.img-poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-box {
    margin-top: 7px;
    padding: 0 2px 10px;
    font-size: 13px;
    .movie-title {
        @include text-overflow-two(96%);
    }
}

@media screen and (max-width: 600px) {
    .text-heading {
        font-size: 26px;
        line-height: 31px;
    }
    .text-description {
        font-size: 16px;
    }

    .grid-box {
        grid-template: auto / repeat(3, 1fr);
    }
    .title-box {
        font-size: 12px;
        .movie-title {
            @include text-overflow-two(96%);
        }
    }
}
