@import '../constants/colors';
@import '../constants/typography.scss';

.search-result-main {
    padding-top: 94px;
}

.text-heading {
    margin-top: 70px;
    line-height: 38px;
    text-align: center;
}

.movie-article {
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 150px;
    .movie-title {
        margin: 100px 0 7px;
        line-height: 38px;
        text-align: left;
    }
    .sub-movie-title {
        margin-bottom: 48px;
        color: $title-text;
        font-family: $font-medium;
        font-size: 20px;
        line-height: 25px;
    }
}

.card-info-wrapper {
    display: flex;
    max-width: 550px;
    .poster-card {
        margin-right: 40px;
    }
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0 10px;
    .img-wbg {
        width: 48px;
        height: 66px;
        margin: 0 auto;
        background: {
            image: url('../../assets/icons/logo-one.svg');
            repeat: no-repeat;
            size: contain;
        }
    }
    .movie-info {
        max-width: 170px;
        margin-top: 70px;
        color: $white;
        font-family: $font-regular;
        font-size: 14px;
        line-height: 16px;
        div {
            margin-bottom: 8px;
        }
    }
}

div > dt {
    color: $header-text;
    font-family: $font-regular;
    line-height: 18px;
}
