.search-result-main {
  padding-top: 94px;
}

.text-heading {
  margin-top: 70px;
  line-height: 38px;
  text-align: center;
}

.movie-article {
  margin: 0 auto;
  max-width: 550px;
  margin-bottom: 150px;
}
.movie-article .movie-title {
  margin: 100px 0 7px;
  line-height: 38px;
  text-align: left;
}
.movie-article .sub-movie-title {
  margin-bottom: 48px;
  color: #f1f1f1;
  font-family: "SpoqaHanSansNeo-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.card-info-wrapper {
  display: flex;
  max-width: 550px;
}
.card-info-wrapper .poster-card {
  margin-right: 40px;
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 10px;
}
.right-part .img-wbg {
  width: 48px;
  height: 66px;
  margin: 0 auto;
  background-image: url("../../assets/icons/logo-one.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.right-part .movie-info {
  max-width: 170px;
  margin-top: 70px;
  color: #ffffff;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.right-part .movie-info div {
  margin-bottom: 8px;
}

div > dt {
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  line-height: 18px;
}