@import '../constants/colors';
@import '../constants/typography.scss';
@import '../components/common';

.search-result-main {
    padding-top: 50px;
}

.text-heading {
    margin-top: 70px;
    line-height: 38px;
    text-align: center;
}

.movie-article {
    max-width: 550px;
    padding: 0px 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    animation: fadeIn 0.9s ease-in-out;
    .movie-title {
        padding: 0 5px 0;
        margin-bottom: 4px;
        line-height: 38px;
        text-align: left;
    }
    .sub-movie-title {
        padding: 0 5px 0;
        margin-bottom: 30px;
        color: $title-text;
        font-family: $font-medium;
        font-size: 20px;
        line-height: 25px;
    }
}

.card-info-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    .poster-card {
        width: 300px;
        margin-right: 30px;
        object-fit: cover;
    }
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px;
    .container-review-btn {
        position: relative;
        animation: motion 1.8s linear 0s infinite alternate;
    }
    .img-wbg {
        width: 48px;
        height: 66px;
        margin: 0 auto;
        background: {
            image: url('../../assets/icons/logo-one.svg');
            repeat: no-repeat;
            size: contain;
        }
    }
    .btn-ms {
        position: absolute;
        top: 70px;
        margin: 0 7.5px 0;
    }
    .movie-info {
        max-width: 180px;
        color: $white;
        font-family: $font-regular;
        font-size: 13px;
        line-height: 16px;
        div {
            margin-bottom: 8px;
        }
    }
}

div > dt {
    margin-bottom: 3px;
    color: $header-text;
    font-family: $font-regular;
    line-height: 18px;
}

.movie-summary {
    margin: 30px 0 54px;
    color: $white;
    font-size: 13px;
    line-height: 1.5;
}

.genre {
    @include text-overflow-one(185px);
}
.actor {
    @include text-overflow-one(185px);
}

@media screen and (max-width: 550px) {
    .movie-article {
        max-width: 300px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 100px;
        box-sizing: content-box;
        .movie-title {
            font-size: 25px;
            line-height: 31px;
            text-align: center;
        }
        .sub-movie-title {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }

    .card-info-wrapper {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        .poster-card {
            margin: 0 auto;
        }
    }

    .right-part {
        flex-direction: column;
        max-width: 300px;
        margin: 25px 0 0px;
        .container-review-btn {
            position: static;
            padding-bottom: 20px;
            margin: 0 auto;
            animation: none;
            .img-wbg {
                display: none;
            }
            .btn-ms {
                position: static;
            }
        }
        .movie-info {
            font-size: 11px;
        }
    }

    .movie-summary {
        margin: 0px 0 54px;
        font-size: 11px;
    }

    .genre {
        @include text-overflow-one(300px);
    }
    .actor {
        @include text-overflow-one(300px);
    }
}

@keyframes motion {
    from {
        padding-top: 0px;
    }
    to {
        padding-top: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
