@import '../constants/colors';
@import '../constants/typography.scss';

.search-main {
    padding: 60px 5%;
    text-align: center;
}

.text-heading {
    margin-bottom: 17px;
    color: $title-text;
    font-family: $font-bold;
    font-size: 30px;
    line-height: 38px;
}

.text-description {
    margin-bottom: 42px;
    color: #8b8b8b;
    font-family: $font-regular;
    font-size: 18px;
}

.input-search-container {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
    box-sizing: border-box;
    .input-search {
        width: 100%;
        padding: 21px 51px 17px 33px;
        color: $header-text;
        font-family: $font-regular;
        font-size: 18px;
        border: 1px solid #8b8b8b;
        border-radius: 40px;
        box-sizing: border-box;
        &::placeholder {
            color: #8b8b8b;
            font-size: 18px;
            line-height: 23px;
        }
        &:focus {
            border-color: $header-text;
        }
    }
    .img-search {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 22px;
        background: {
            image: url('../../assets/icons/icon-search.svg');
            repeat: no-repeat;
            size: contain;
        }
        width: 24px;
        height: 24px;
    }
}

.container-searched-list {
    padding: 25px 33px;
    color: $header-text;
    line-height: 1.37;
    text-align: left;
}
.searched-movie {
    cursor: pointer;
    &:hover {
        background-color: black;
        opacity: 0.95;
    }
}
