.search-main {
  padding: 70px 5% 0;
  text-align: center;
}

.text-heading {
  margin-bottom: 17px;
  color: #f1f1f1;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-size: 30px;
  line-height: 38px;
}

.text-description {
  margin-bottom: 42px;
  color: #8b8b8b;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 18px;
}

.input-search-container {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  box-sizing: border-box;
}
.input-search-container .input-search {
  width: 100%;
  padding: 21px 51px 17px 33px;
  color: #cfcfcf;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 18px;
  border: 1px solid #8b8b8b;
  border-radius: 40px;
  box-sizing: border-box;
}
.input-search-container .input-search::-moz-placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}
.input-search-container .input-search:-ms-input-placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}
.input-search-container .input-search::placeholder {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 23px;
}
.input-search-container .input-search:focus {
  border-color: #cfcfcf;
}
.input-search-container .img-search {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 22px;
  background-image: url("../../assets/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}