@import '../constants/colors';
@import '../constants/typography';

.container-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 322px;
    padding: 0 20px;
    margin-top: 100px;
    box-sizing: content-box;

    .page-title {
        font-family: $font-bold;
        font-size: 30px;
        color: $white;
        margin-bottom: 54px;
        &.profile {
            margin-bottom: 10px;
        }
    }
    .page-subtitle {
        font-family: $font-regular;
        font-weight: 300;
        font-size: 11px;
        color: $disabled-line;
    }
    label {
        margin-bottom: 6px;
        font-family: $font-regular;
        font-size: 13px;
        color: $content-text;
    }
    ::placeholder {
        font-family: $font-regular;
        font-size: 12px;
        color: $placeholder-text;
    }
    input {
        padding: 8px 0;
        border-bottom: 1px solid $disabled-line;
        color: $white;
        font-family: $font-regular;
        font-size: 13px;
        line-height: 1;
        &:focus {
            border-color: $white;
        }
    }
    .msg-error {
        display: none;
        margin-top: 7px;
        font : {
            family: $font-regular;
            weight: 400;
            size: 11px;
        }
        &.email,
        &.userid {
            &.true {
                color: $green;
                display: block;
            }
            &.false {
                color: $primary-color;
                display: block;
            }
        }
        &.password {
            &.true {
                display: none;
            }
            &.false {
                color: $primary-color;
                display: block;
            }
        }
    }
    .wrapper-email,
    .wrapper-password,
    .wrapper-name,
    .wrapper-id,
    .wrapper-intro {
        display: flex;
        flex-direction: column;
    }
    .wrapper-password,
    .wrapper-intro {
        margin: 16px 0 35px 0;
    }
    .wrapper-id {
        margin-top: 16px;
    }
    .wrapper-upload-img {
        width: 130px;
        height: 130px;
        margin: 20px auto;
        background: {
            image: url('../../assets/icons/default-logo.svg');
            repeat: no-repeat;
            size: cover;
        }
        position: relative;
        border-radius: 9999px;
        .ico-upload {
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 0;
            right: 0;
            cursor: pointer;
        }
    }
}

input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
