@import '../constants/colors';
@import '../constants/typography';
@import '../components/common';
.write-wrapper {
    box-sizing: content-box;
    padding: 50px 20px;
    max-width: 740px;
    margin: 0 auto;
    color: $title-text;
    overflow: hidden;
}

.title-container {
    margin: 0 auto 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    #movie-title {
        font: {
            family: $font-bold;
            size: 25px;
        }

        @include text-overflow-three(98%);
        line-height: 1.4;
    }

    #movie-title-eng {
        font: {
            family: $font-medium;
            size: 20px;
        }
        line-height: 1.4;
        color: $header-text;
        @include text-overflow-three(98%);
    }
}

.rating-wrapper {
    margin: {
        left: auto;
        bottom: 22px;
        right: 5px;
    }
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    span {
        font-size: 12px;
        line-height: 15px;
    }
    .star-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        #text-rating {
            padding-top: 4px;
            font: {
                family: $font-bold;
                size: 16px;
            }
        }
    }
    .radio-container {
        position: relative;
        width: 120px;
        height: 24px;
        background-image: url(../../assets/icons/stars-gray.svg);
        display: flex;
        .radio-rating {
            cursor: pointer;
            opacity: 0;
            width: 12px;
            &:nth-of-type(1):hover ~ .star,
            &:nth-of-type(1):checked ~ .star {
                width: 10%;
            }
            &:nth-of-type(2):hover ~ .star,
            &:nth-of-type(2):checked ~ .star {
                width: 20%;
            }
            &:nth-of-type(3):hover ~ .star,
            &:nth-of-type(3):checked ~ .star {
                width: 30%;
            }
            &:nth-of-type(4):hover ~ .star,
            &:nth-of-type(4):checked ~ .star {
                width: 40%;
            }
            &:nth-of-type(5):hover ~ .star,
            &:nth-of-type(5):checked ~ .star {
                width: 50%;
            }
            &:nth-of-type(6):hover ~ .star,
            &:nth-of-type(6):checked ~ .star {
                width: 60%;
            }
            &:nth-of-type(7):hover ~ .star,
            &:nth-of-type(7):checked ~ .star {
                width: 70%;
            }
            &:nth-of-type(8):hover ~ .star,
            &:nth-of-type(8):checked ~ .star {
                width: 80%;
            }
            &:nth-of-type(9):hover ~ .star,
            &:nth-of-type(9):checked ~ .star {
                width: 90%;
            }
            &:nth-of-type(10):hover ~ .star,
            &:nth-of-type(10):checked ~ .star {
                width: 100%;
            }
        }
        .star {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 24px;
            background-image: url(../../assets/icons/star-yellow.svg);
            pointer-events: none;
        }
    }
}

.review-container {
    position: relative;
    padding: 40px 37px;
    height: 425px;
    background-color: $post-bg;
    border-radius: 20px;
    .review-contents {
        overflow-y: auto;
        height: 100%;
        @include scroll(8px);

        #img-review {
            display: block;
            max-width: 250px;
            max-height: 300px;
            margin-bottom: 14px;
            border-radius: 4px;
            &.disabled {
                display: none;
            }
        }
        #text-review {
            resize: none;
            width: 98%;
            height: 330px;
            overflow-y: auto;
            word-break: break-all;
            color: $content-text;
            font-size: 14px;
            line-height: 1.4;
            @include scroll(6px);

            &::placeholder {
                font: {
                    family: $font-regular;
                    size: 13px;
                }
                color: $disabled-line;
            }
        }
    }

    #label-img {
        background: {
            image: url('../../assets/icons/upload-file.svg');
            size: cover;
        }
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: transparent;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    #img-input {
        display: none;
    }
}

.save {
    margin-top: 22px;
    float: right;
}

@media screen and (max-width: 768px) {
    .review-container {
        padding: 24px;
        #label-img {
            top: -7px;
            right: -7px;
        }
    }
    .title-container {
        margin-bottom: 12px;
        #movie-title {
            font-size: 20px;
            @include text-overflow-two(96%);
        }

        #movie-title-eng {
            font-size: 15px;
            @include text-overflow-two(96%);
        }
    }
}
