@import '../constants/colors';
@import '../constants/typography';

.write-wrapper {
    box-sizing: content-box;
    padding: 70px 20px;
    max-width: 740px;
    margin: 0 auto;
    color: $title-text;
    overflow: hidden;
}

.page-title {
    font: {
        family: $font-bold;
        size: 30px;
    }
    line-height: 38px;
    text-align: center;
}

.upper-wrapper {
    margin: 32px auto 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    #movie-title {
        font: {
            family: $font-bold;
            size: 25px;
        }
        line-height: 31px;
    }
    #movie-title-eng {
        font: {
            family: $font-medium;
            size: 15px;
        }
        line-height: 19px;
    }
}

.rating-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    span {
        font-size: 12px;
        line-height: 15px;
    }
    img {
        cursor: pointer;
    }
}

.review-container {
    position: relative;
    padding: 40px 37px;
    height: 425px;
    background-color: $sub-bg;
    border-radius: 20px;
    .review-contents {
        overflow: auto;
        height: 100%;
        img {
            display: block;
            max-width: 314px;
            margin-bottom: 14px;
            border-radius: 4px;
        }
        #text-review {
            resize: none;
            width: 100%;
            overflow-y: hidden;
            word-break: keep-all;
            color: $content-text;
            font-size: 14px;
            line-height: 18px;
            &::placeholder {
                font: {
                    family: $font-regular;
                    size: 13px;
                }
                color: $disabled-line;
            }
        }
    }

    #label-img {
        background: {
            image: url('../../assets/icons/upload-file.svg');
            size: cover;
        }
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: transparent;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    #img-input {
        display: none;
    }
}

.save {
    margin-top: 21px;
    float: right;
}
