@import './common';

%card-base {
    position: relative;
    background-image: url('../../assets/images/post_default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

%card-cover {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.775);
    border-radius: 10px;
    z-index: -1;
}

.wrapper-card {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    color: $title-text;
    margin-top: 50px;
    &.chart {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .wrapper-movie-title {
        display: flex;
        flex-direction: column;
        margin: 24px 22px 0 22px;
        font-family: $font-bold;
        color: $white;
        text-align: left;
    }

    .wrapper-sub-text {
        width: 210px;
        position: absolute;
        bottom: 0;
        margin: 20px 22px;
        font-size: 12px;
        text-align: left;
        .sub-title {
            font-family: $font-medium;
            display: flex;
            flex-direction: column;
            margin-right: 18px;
            color: $header-text;
            .sub-text {
                font-family: $font-medium;
                color: $title-text;
                font-weight: 300;
                margin: 8px 0;
                @include text-overflow-one(250px);
            }
        }
    }
}

.card-L {
    @extend %card-base;
    width: 310px;
    height: 310 * 1.43px;
    z-index: 10;
    object-fit: contain;
    position: relative;
    &:first-of-type {
        margin-right: 20px;
    }
    &:last-of-type::after {
        @extend %card-cover;
    }
    .wrapper-movie-title {
        margin-top: 40px;
        #movie-title {
            @include text-overflow-two(96%);
            font-size: 24px;
            margin-bottom: 10px;
        }
        #movie-title-eng {
            font-size: 20px;
            @include text-overflow-three(96%);
        }
    }
    &.search {
        width: fit-content;
        height: 425px;
    }
}

.card-m {
    @extend %card-base;
    position: relative;
    width: 210px;
    height: 305px;
    .show-contents {
        display: none;
    }
    &:hover,
    &:focus {
        z-index: 10;
        .show-contents {
            @extend %card-cover;
            position: absolute;
            bottom: 0;
            display: block;
        }
        .wrapper-movie-title {
            margin: 26px 16px 4px 16px;

            #movie-title {
                font-size: 16px;
                margin-bottom: 4px;
                @include text-overflow-two(180px);
            }
            #movie-title-eng {
                font-size: 12px;
                @include text-overflow-one(180px);
            }
        }
        .wrapper-sub-text {
            margin: 16px 16px 18px;
            font-size: 11px;
            line-height: 0.9;
            .sub-text {
                @include text-overflow-one(180px);
            }
        }
    }
}

.review-album {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 205px);
    gap: 20px;
    height: 721px;
    overflow-y: scroll;
    .card-s {
        @extend %card-base;
        background-image: url('../../assets/images/min_post_default.jpg');
        background-position: center center;
        width: 205px;
        height: 205px;
        .show-contents {
            display: none;
        }
        &:hover {
            .show-contents {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 10;
                @extend %card-cover;
                #movie-title {
                    font-family: $font-medium;
                    font-size: 16px;
                    color: $white;
                    margin-bottom: 10px;
                    text-align: center;
                    @include text-overflow-three(180px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card-L {
        &:first-of-type {
            display: none;
        }
        &.search {
            &:first-of-type {
                display: block;
            }
        }
    }
    .wrapper-card {
        &.chart {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
    .review-album {
        height: 532px;
        .card-s {
            width: 160px;
            height: 160px;
            &:hover {
                .show-contents {
                    #movie-title {
                        font-size: 14px;
                        @include text-overflow-three(140px);
                    }
                }
            }
        }
        grid-template-columns: repeat(3, 160px);
        gap: 15px;
        .rate-star {
            height: 20px;
        }
    }
}

@media screen and (max-width: 550px) {
    .wrapper-card {
        &.chart {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

    .review-album {
        height: 600px;
        grid-template-columns: repeat(2, 160px);
    }
}
