.modal-dropbox {
    position: absolute;
    top: 300px;
    width: 180px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.modal-dropbox::before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 13px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #121212;
}
.modal-dropbox .btn-dropbox {
    width: 100%;
    text-align: left;
    color: #f1f1f1;
    font-family: 'SpoqaHanSansNeo-Medium', sans-serif;
    font-size: 14px;
    padding: 10px 13px;
}

.modal-alert-container {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-alert-container.disabled {
    display: none;
}
.modal-alert-container .modal-alert {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #292929;
    text-align: center;
    border-radius: 10px;
    color: #f1f1f1;
}
.modal-alert-container .modal-alert .message {
    display: block;
    font-family: 'SpoqaHanSansNeo-Medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 29px 62px 22px;
}
.modal-alert-container .modal-alert .btn-alert {
    position: relative;
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 0;
    border-top: 0.5px solid #767676;
    color: #f1f1f1;
}
.modal-alert-container .modal-alert .btn-alert.action {
    color: #ff5f5f;
}
.modal-alert-container .modal-alert .btn-alert.action::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5px;
    height: 100%;
    background-color: #767676;
}
