* {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a,
button {
    cursor: pointer;
}

button {
    padding: 0;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

address {
    font-style: normal;
}

/* chrome input-box color reset */
input {
    -webkit-text-fill-color: $header-text;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
}

input::placeholder {
    -webkit-text-fill-color: $placeholder-text;
}

input,
textarea {
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
}
