* {
    margin: 0;
    font-family: $font-regular;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html {
    font-family: $font-regular;
    font-size: $font-size-14;
}

body {
    font-family: $font-regular;
}

h1 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a,
button {
    cursor: pointer;
}

button {
    padding: 0;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

address {
    font-style: normal;
}
