$primary-color: #ff5f5f;
$disabled-color: #ffc4c4;

$main-bg: #1e1e1e;
$sub-bg: #292929;
$dropbox-bg: #121212;
$post-bg: #181717;
$scroll-color: #242424;

$header-text: #cfcfcf;
$title-text: #f1f1f1;
$content-text: #dedede;
$sub-text: #8b8b8b;
$placeholder-text: #464646;

$disabled-line: #767676;

$white: #ffffff;
$green: #b8ff96;
$star: #fcff6a;
