$font-regular: "SpoqaHanSansNeo-Regular", sans-serif;
$font-medium: "SpoqaHanSansNeo-Medium", sans-serif;
$font-bold: "SpoqaHanSansNeo-Bold", sans-serif;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-30: 30px;
$font-size-40: 40px;
